* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

p {
  margin: 0 !important;
}

.profile-photo {
  width: 50px;
  height: 50px;
  max-height: 50px;
  border-radius: 50%;
  background-size: contain;
}

#contact {
  height: 100%;
}

#contact.hide {
  width: 0;
  display: none;
  transition: all 0.35s;
  transform: translateX(100%);
}

#contact.show {
  width: 30%;
  min-width: 400px;
  display: flex;
  transition: all 0.35s;
  transform: none;
}

.contact-info {
  overflow: hidden;
}

.contact-info > h3 {
  max-width: calc(100vw - 30vw);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contact-info > h3, .contact-info > p {
  max-width: calc(100vw - 30vw);
  overflow: hidden;
  white-space: nowrap;
}

.contact-info > p {
  font-weight: lighter;
}

.separator {
  min-height: 2px;
}

#contact-photo {
  width: 120px;
  height: 120px;
  max-height: 120px;
  border-radius: 50%;
  background-size: contain;
}

#settings {
  display: none;
}

#settings + label {
  margin-top: 12px;
  cursor: pointer;
}

#settings + label > div {
  transition: all 0.35s;
  transform: rotate(0deg);
}

#settings:checked + label > div {
  transition: all 0.35s;
  transform: rotate(180deg);
}

#settings ~ div {
  margin-top: -18px;
}

#settings ~ div {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}

#settings:checked ~ div {
  max-height: 20px;
}

@media (max-width: 768px) {
  #contact.show {
    position: absolute;
    width: 100%;
    right: 0;
    min-width: auto;
    min-height: 100vh;
  }
}
